.datePickerContainer,
.timePickerContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
}

.datePickerHeader,
.timePickerHeader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.datePickerInput,
.timePickerInput {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 12px;
  width: 120px;
}

.datePickerButton,
.timePickerButton {
  padding: 4px 12px;
  background-color: #f47c20;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.datePickerButton:hover,
.timePickerButton:hover {
  background-color: #e2640e;
}