.buttonStyles {
    width: 150px;
    height: 60px;
    margin-right: 15px;
    background-color: green;
    color: white;
  }
  
.buttonRed {
    background-color: red;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  